/*.container {
    height: 100%;
    width:100%;
    overflow: hidden;
    background-image: url('../img/health.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

*/
.container > div {
    position: absolute;
    bottom: 10px;
    color:#888;
    font-size: 4em;
}