body{
    width:100%;
    overflow: hidden;
    background-position: center;
}

#blank {
    height: 7.5%;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
/*    text-align:left;*/
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
 }

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.jumbotron {
    opacity: 0.85;
    vertical-align: middle;
}
.btn {
    opacity: 1;
}

a.btn {
    font-size: 2em;
    margin: 1.5% auto;
}