.first-form-wrapper {
    position: relative;
    top:15%;
    width:100%;
    font-size: 175%;
    background-color: rgba(200,225,200,0.9);
    display: none;
}

.first-form-wrapper input {
    margin: 10px 0;
}

#skip {
    text-decoration: underline;
}