body {
    font-family: "MyriadSetPro";
}
.header {
    width: 100%;
    height: 12%;
    display: block;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255,255,255,0.95);
}

.jumbotron {
    font-size: 2em !important;
    padding-top:0;
}
li {
    margin-top:1em;
}

.rating-input {
    display: inline-block;
}
div.input-group {
    font-size: 0.8em !important;
}