@font-face {
    font-family: 'Mr De Haviland';
    src: url('../fonts/MrDeHaviland-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "MyriadSetPro";
    src: url('../fonts/MyriadSetPro-Thin.ttf') format("truetype");
}

@font-face {
    font-family: "MyriadSetPro Semi";
    src: url('../fonts/MyriadSetPro-Semibold.ttf') format("truetype");
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    font-family:'Lato', Helvetica, Arial, sans-serif;
    height:100%;
    width:100%;
    overflow-x: hidden;
    
    background-image: url('../img/home-bg1.jpg');
    background-size: auto 100%;
    background-position: center;
}

.vertical-align:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.team-name {
    font-family: "Lato",Helvetica,Arial,sans-serif;
    position: absolute;
    top:0;
    right:0;
    font-size: 1.5em;
}

.app-name {
    width: 100%;
    padding: 15px;
    font-size: 4em;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    text-shadow: 0 0 10px green;
    font-family: 'Mr De Haviland', cursive;
    letter-spacing: 3px;
}
.app-name.bottom {
    position: absolute;
    bottom: 1%;
}