.header {
    width: 100%;
    height: 12%;
    display: block;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(225,225,245,0.95);
}

.container {
    display: block;
    width: 100%;
    margin-top:3%;
    min-height: 85%;
    padding: 3% 3%;
    font-size: 2.5em;
}

.jumbotron {
    margin: 0;
    width:100%;
    height: 100%;
    background-color: rgba(225,225,245,0.95);
}

.row-centered {
    text-align:center;
}
.row-centered:not(:first-child) {
    margin-top:1.5em;
}

div{
    font-family: 'MyriadSetPro';
}
.problem-tile {
    padding-top:1em;
    padding-bottom: 1em;
    transition: all 0.4s;
}
.sub-item {
  background-color: #eef;
  border-bottom: 1px solid grey;
  font-size: 1.2em;
  padding: 0.25em 1em;
}
.col-xs-12, .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
}
.current-open {
    background-color: #eef;
  border-bottom: 1px solid grey;
}
