body {
    background-image:none;
    height: 100%;
}
.master-wrapper {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.page-head {
    padding-left: 1em;
}
.page-head > h4 {
    font-size: 1.2em;
}

.location-tile {
    width:100%;
    background: #ddd;
    border-bottom: 1px solid #888;
    height:32%;
    position: relative;
}

iframe {
    border: none;
}

#to-show {
    position: absolute;
    bottom: 10px;
    left:5%;
    width:90%;
    display: none;
    font-size: 2em;
}

#location-text {
    position: absolute;
    top:0;
    right: 10px;
}

.image-tile {
    font-size: 200%;
    height: 20%;
    width:100%;
    background: #ddd;
    border-bottom: 1px solid #888;
    position: relative;
}

.image-sub-tile {
    width:50%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
.image-sub-tile:nth-child(1) {
    border-right: 1px solid grey;
}
.image-sub-tile:nth-child(2) {
    border-left: 1px solid grey;
}

.wrapper-for-center {
    display: inline-block;
    vertical-align: middle;
}
.btn-small-wrap:before {
    content: "Change image";
    font-size:75%;
}
.btn-small-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(221,221,221,0.75);
    padding:0 10px;
    display: none;
}
.btn-small-wrap > span {
    vertical-align: middle;
    font-size: 1.5em;
}
textarea {
    width:100%;
    height: 100%;
}
.comments-tile {
    height: 25%;
    padding: 10px;
}
.desc {
    font-size: 1.5em;
}
.comments-tile {
    font-size: 200%;
}
.btn.btn-lg {
    width:80%;
    margin: auto;
    margin-top: 1em;
}